[submodule "submodules/UTCRisk"]
    path = submodules/UTCRisk
    url = https://github.com/aduragbemiadetunji/UTCRisk

[submodule "submodules/seacharts"]
    path = submodules/seacharts
    url = https://github.com/simbli/seacharts
[submodule "submodules/seacharts_ais"]
	path = submodules/seacharts_ais
	url = https://github.com/komeg1/seacharts_ais.git
